@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="welcomeBlock">
        <div class="display-5 textBlock">
            <p>Добрий день @User.Identity.Name</p>
        </div>
        <div class="imgBlock">
            <img src="./img/28eN.gif" alt="PcImage" />
        </div>
    </div>
</div>
