@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="welcomeBlock">
        <div class="display-5 textBlock">
            <p>Shafa Store<br /></p>
            <p>Anna djjfdsjd<br /></p>
            <p></p>
            <a asp-controller="Store" asp-action="Products" asp-route-pr="1" class="btn btn-outline-light">Begin</a>
        </div>
        <div class="imgBlock">
            <img src="./img/28eN.gif" alt="PcImage" />
        </div>
    </div>
</div>
