html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-btn {
    border: 0;
    fill: #7d7d7d
}

.btn-link {
    color: #333;
    text-decoration: none;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.btn-add-product {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #414141;
    color: #414141;
    height: 40px;
}