<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diplom.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <div class="d-flex align-items-center px-3">
                    <button class="navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand mx-3" asp-area="" asp-controller="Home" asp-action="Index">SHAFA</a>
                    <a asp-controller="Account" asp-action="Registration" class="btn btn-sm btn-outline-success mx-2">Registration</a>

                </div>

                <a class="btn btn-sm" asp-controller="Carts" asp-action="Index" asp-route-returnUrl="@(Context.Request.Path+Context.Request.QueryString.Value)">
                    <i class="bi bi-bag-check mx-4" style="font-size: 1.7rem;"></i>
                </a>

                <div class="offcanvas offcanvas-end text-bg-dark" data-bs-backdrop="static" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header align-items-baseline">
                        @if (User.Identity != null)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="d-flex my-3 mx-2">
                                    <div class="lh-lg fw-semibold">@User.Identity.Name</div>
                                </div>
                            }
                        }

                        <button type="button" class="btn-close btn-close-white px-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">

                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3"> 

                            <li class="nav-item dropdown"> 
                               <button class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" aria-expanded="false"> 
                                     Dropdown 
                                 </button> 

                                 <ul class="dropdown-menu dropdown-menu-dark"> 
                                     <li><a class="dropdown-item" asp-controller="Store" asp-action="Products" asp-route-pr="1">Trousers</a></li> 
                                     <li> 
                                         <hr class="dropdown-divider"> 
                                     </li> 
                                     <li><a class="dropdown-item" asp-controller="Store" asp-action="Products" asp-route-pr="2">Sweatshirts</a></li> 
                                     <li> 
                                         <hr class="dropdown-divider"> 
                                     </li> 
                                     <li><a class="dropdown-item" asp-controller="Store" asp-action="Products" asp-route-pr="3">Skirts</a></li> 
                                     <li> 
                                         <hr class="dropdown-divider"> 
                                     </li> 
                                     <li><a class="dropdown-item" asp-controller="Store" asp-action="Products" asp-route-pr="4">Shorts</a></li> 
                                     <li> 
                                         <hr class="dropdown-divider"> 
                                     </li> 
                                     <li><a class="dropdown-item" asp-controller="Store" asp-action="Products" asp-route-pr="5">T-shirts</a></li> 
                                 </ul> 
                             </li>
                            </ul>


                        @if (User.Identity != null)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="d-flex justify-content-end align-content-center my-3">
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <input type="submit" value="Logout" class="btn btn-sm btn-outline-danger mx-2" />
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-end my-3">
                                    <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-outline-success mx-1">Login</a>
                                    <a asp-controller="Account" asp-action="Registration" class="btn btn-sm btn-outline-success mx-2">Registration</a>
                                </div>
                            }
                        }

                    </div>
                </div>

            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Diplom - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>