<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diplom.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #eee">
            <div class="container-fluid justify-content-center">
                <div class="d-flex align-items-center gap-4">
                    <!--<button class="navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>-->
                    <a class="navbar-brand mx-3" asp-area="" asp-controller="Home" asp-action="Index">
                        <!-- ЗАМЕНИТЬ -->
                        <img src="https://uploads.shafastatic.net/uploads/2022/Jul/ic_shafa_logo_zDK2Rl4.svg" alt="shafa_logo" title="shafa_logo" width="130" height="36">
                        <!-- ЗАМЕНИТЬ -->
                    </a>
                    <div>
                        <form>
                            <div class="input-group">
                                <select class="form-select" style="max-width: 150px;">
                                    <option selected>Всі категорії</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                </select>
                                <input type="text" class="form-control" placeholder="Я хочу купити на SHAFA ...">
                                <button class="search-btn" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <button type="button" class="btn-add-product ">Додати товар</button>
                </div>
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <ul class="navbar-nav ms-auto">
                                @if (User.Identity != null && User.Identity.IsAuthenticated)
                                {
                                    <!-- Если пользователь авторизован -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.Name
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                            <li><a class="dropdown-item" href="/Account/Profile">Профіль</a></li>
                                            <li><a class="dropdown-item" href="/Account/Logout">Вихід</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <!-- Если пользователь НЕ авторизован -->
                                    <a asp-controller="Account" asp-action="Login" class="nav-link">Вхід  |</a>
                                    <a asp-controller="Account" asp-action="Registration" class="nav-link">Реєстрація</a>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="container">
        @RenderBody()
            
        </div>
    </main>
   
 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Diplom - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@*<section> 
                         <a asp-controller="Account" asp-action="Login" class="btn btn-link p-0">Вхід</a> 
                         <span>|</span> 
                         <a asp-controller="Account" asp-action="Registration" class="btn btn-link p-0">Реєстрація</a> 
                     </section>*@