@using Diplom.Models;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">

    <div class="d-flex align-items-center justify-content-center LoginForm">

        <div class="w-50 h-25 row">

            <div class="col card px-3 py-1 shadow">

                <div class="display-6 mb-3 text-center fw-semibold">Вхід</div>

                <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="mb-3">
                        <label class="form-label mx-2" for="UserName">Ім'я</label>
                        <input type="text" class="form-control shadow-sm" name="UserName" id="UserName" placeholder="Enter user name" />
                    </div>

                    <div class="mb-3">
                        <label for="Password" class="form-label mx-2">Пароль</label>
                        <input type="password" name="Password" id="Password" class="shadow-sm form-control" placeholder="Enter password" />
                    </div>

                    <div class="mb-3 form-check form-switch">
                        <input type="checkbox" role="checkbox" name="RememberMe" id="RememberMe" class="form-check-input shadow-sm" />
                        <label for="RememberMe" class="form-check-label">Запам'ятати мене</label>
                    </div>


                    <div class="mb-3 d-flex justify-content-end">
                        <input type="submit" value="Увійти" class="btn btn-success px-4 mx-2" />
                    </div>

                </form>

                <div class="d-flex m-3 p-2 align-items-center justify-content-center">
                    <a asp-controller="Account" asp-action="GoogleLogin" class="mx-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sign Google">
                        <img src="~/img/google.png" alt="Google" class="BtnImg" width="30" height="30" />
                    </a>
                </div>

            </div>

        </div>

    </div>


</div>
