@{
    ViewData["Title"] = "Logout";
}

<div class="container">
    <div class="text-center display-6 m-4">
        ----------
    </div>

    <div class="d-flex align-items-centers justify-content-center">
        <a asp-controller="Home" asp-action="Index" class="m-2 px-4 btn btn-warning">Головна</a>
        <a asp-controller="Account" asp-action="Login" class="m-2 px-4 btn btn-warning">Вхід</a>
    </div>
</div>

