@using Diplom.Models;
@model RegViewModel
@{
    ViewData["Title"] = "Registratoin";
}

<div class="container">
    <div class="display-6 mb-3 text-center fw-semibold">Registration</div>

    <div class="card shadow w-50 m-auto px-3 py-2">

        <form method="post" asp-controller="Account" asp-action="Registration">
            <div asp-validation-summary="ModelOnly" class="mb-3"></div>
            <div class="mb-3">
                <span class="text-danger" asp-validation-for="Login"></span>
                <label for="UserName" class="form-label">Login</label>
                <input type="text" name="Login" id="Login" class="form-control" />
            </div>

            <div class="mb-3">
                <span class="text-danger" asp-validation-for="Email"></span>
                <label for="Email" class="form-label">Email address:</label>
                <input type="text" name="Email" id="Email" class="form-control" />
            </div>

            <div class="mb-3 row">
                <div class="col">
                    <label for="Password" class="form-label">Password:</label>
                    <input type="password" name="Password" id="Password" class="form-control" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="col">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    <label for="ConfirmPassword" class="form-label">Confirm password:</label>
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" />
                </div>

            </div>

            <div class="mb-3 d-flex justify-content-end">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>

        </form>

    </div>

</div>



